In [1]:
import geopandas as gpd
import os

def read_parquet(filename):
    # Verificar si el archivo existe
    if not os.path.exists(filename):
        raise FileNotFoundError(f"El archivo {filename} no existe.")

    # Leer el archivo .parquet
    try:
        gdf = gpd.read_parquet(filename)
        return gdf
    except Exception as e:
        print(f"Error al leer el archivo {filename}: {str(e)}")
        return None

# Nombre de archivo .parquet
filename = "/app/assets/amenities/actual.parquet"

# Leer el archivo .parquet usando la función definida anteriormente
data = read_parquet(filename)

In [5]:
gdf = read_parquet(filename='/app/assets/land_uses/actual.parquet')

In [6]:
gdf

,Id,Uso,area_predio,plate_id,geometry
0,1,SITIO ERIAZO,27346.344287,0.0,"POLYGON Z ((671840.723 5922742.217 0.000, 6717..."
1,2,SITIO ERIAZO,10492.919632,0.0,"POLYGON Z ((672354.137 5923064.083 0.000, 6723..."
2,3,BIENES COMUNES,2466.609968,0.0,"POLYGON Z ((671968.972 5922686.292 0.000, 6719..."
3,4,BIENES COMUNES,2107.678619,0.0,"POLYGON Z ((671954.192 5922697.177 0.000, 6719..."
4,5,BIENES COMUNES,756.003752,0.0,"POLYGON Z ((672046.124 5922825.816 0.000, 6720..."
...,...,...,...,...,...
3129,4133,MULTI ROL,1528.206919,0.0,"POLYGON Z ((672868.943 5922448.181 0.000, 6728..."
3130,4134,PRE ROL,1327.066841,0.0,"POLYGON Z ((672893.330 5922459.911 0.000, 6728..."
3131,4150,MULTI ROL,1683.256411,0.0,"POLYGON Z ((672955.708 5922437.878 0.000, 6729..."
3132,4151,MULTI ROL,1544.466189,0.0,"POLYGON Z ((672955.708 5922437.878 0.000, 6729..."
3133,4152,MULTI ROL,1172.905428,0.0,"POLYGON Z ((672932.942 5922480.262 0.000, 6729..."

In [3]:
import geopandas as gpd
import shapely
import requests

data = requests.get('http://clbb-api:8000/api/amenity/')
data_json = data.json()

# Convertir GeoJSON a GeoDataFrame
features = data_json['features']
for feature in features:
    # print(feature)
    # Convertir la cadena de geometría a un objeto GeoDjango Point
    # geom = shapely.from_wkt(feature['geometry'].split(';')[1])
    # print(geom)
    feature['geometry'] = shapely.from_wkt(feature['geometry'].split(';')[1])

gdf = gpd.GeoDataFrame.from_features(features)
gdf = gdf.set_crs(4326)
# Imprimir el GeoDataFrame
gdf = gdf.to_crs(32718)
# print(gdf)

In [5]:
import os
from glob import glob
glob(os.path.join(os.getcwd(), '*'))

['/app/newdata',
 '/app/data.1.h5',
 '/app/data',
 '/app/testing.ipynb',
 '/app/new_amenities_sii.ipynb',
 '/app/Dockerfile',
 '/app/amenities.ipynb',
 '/app/geohash_polygons.ipynb',
 '/app/h3_polygons.ipynb',
 '/app/polygons_testing.ipynb',
 '/app/calc_land_uses_diversity.ipynb',
 '/app/docker-compose.yml',
 '/app/requirements.txt',
 '/app/assets',
 '/app/road_network.ipynb']

In [6]:
gdf.to_parquet('/app/assets/amenities_sii_2024.parquet')

In [2]:
gdf.shape

(6560, 5)

In [5]:
gdf.drop_duplicates().shape

(6105, 5)

In [1]:
import geopandas as gpd

In [4]:
gdf = gpd.read_parquet('./assets/area_scope/area_scope.parquet')

In [5]:
gdf

,OID_,Name,FolderPath,SymbolID,AltMode,Base,Clamped,Extruded,Snippet,PopupInfo,Shape_Leng,Shape_Area,geometry
0,0,PolÃ­gono CityScope 2,poligono maqueta v2.kmz,0,0,0.0,-1,0,None,None,0.090871,0.000486,"POLYGON Z ((673135.395 5923496.707 0.000, 6744..."