In [19]:
import geopandas as gpd
import os
from glob import glob

In [21]:
current_folder = os.getcwd()
current_folder

'/home/diego/Proyectos/base_geo/notebooks'

In [26]:
assets_path = os.path.join(current_folder,'assets')
data_path = os.path.join(assets_path, 'streets','actual')

In [27]:
nodes = gpd.read_parquet(os.path.join(data_path, 'nodes.parquet'))
edges = gpd.read_parquet(os.path.join(data_path, 'edges.parquet'))

In [30]:
nodes

,osmid,y,x,street_count,highway,geometry
0,267252253,5.922560e+06,674769.156344,2,None,POINT (674769.156 5922560.301)
1,267252256,5.922556e+06,674767.130534,4,crossing,POINT (674767.131 5922555.936)
2,267252355,5.922608e+06,675032.401388,4,None,POINT (675032.401 5922608.020)
3,267548089,5.926340e+06,676180.873862,2,None,POINT (676180.874 5926340.018)
4,267548092,5.925974e+06,676137.875334,2,None,POINT (676137.875 5925973.933)
...,...,...,...,...,...,...
35994,11391369995,5.922697e+06,677192.761565,2,None,POINT (677192.762 5922697.413)
35995,11391369996,5.922698e+06,677228.439715,2,None,POINT (677228.440 5922697.969)
35996,11391369997,5.922657e+06,677157.299755,2,None,POINT (677157.300 5922657.470)
35997,11391369998,5.922663e+06,677160.712349,2,None,POINT (677160.712 5922663.237)
35998,11391369999,5.922673e+06,677165.757430,2,None,POINT (677165.757 5922672.844)